$main-dialogImg-body-padding-sm:12px;
$main-dialogImg-buttonbox-height-sm:40px;
$main-dialogImg-height-sm:450px;
$main-dialogImg-width-sm:350px;
.main-dialogImg{
  width: $main-dialogImg-width-sm;
  .el-dialog__body{
    height: $main-dialogImg-height-sm;
    box-sizing: border-box;
    @include padding(0, $main-dialogImg-body-padding-sm, 0, $main-dialogImg-body-padding-sm);
    .main-dialogImg-content{
      height: calc(100% - #{$main-dialogImg-buttonbox-height-sm})
    }
    .main-dialog-footer{
      @include size(100%,$main-dialogImg-buttonbox-height-sm);
      line-height:$main-dialogImg-buttonbox-height-sm!important;
    }
  }
}