$main-cascaderOption-height-md:300px;
$main-navigationBar-height-md:64px;
$main-naviBar-height-md:64px;
$main-size-md:14px;
$main-plain-size-md:12px;
$main-title-size-md:16px;
$main-option-lineHeight-md:40px;
$main-dropdown-margin-md:4px;
$main-container-padding-md:20px;
$main-content-padding-md:30px;
$main-content-paddingLeft-md:30px;
$main-content-paddingTop-md:20px;
$main-primaryCirleButton-padding-md:12px;
$main-primaryButton-paddingLeft-md:25px;
$main-primaryButton-paddingTop-md:9px;
$main-plainButton-paddingLeft-md:10px;
$main-plainButton-paddingTop-md:6px;
$main-imgButton-size-md:20px;
$main-buttonBox-button-width-md:80px;
$main-buttonBox-button-height-md:40px;
$main-buttonBox-button-size-md:16px;
$main-space-marign-md:23px;
$main-buttonSpace-marign-md:10px;
$main-searchInput-height-md:34px;
$main-searchInput-width-md:238px;
$main-searchInputIcon-size-md:18px;
$main-searchInputIcon-right-md:10px;
$main-pagination-height-md:60px;
$main-iconLabel-size-md:20px;
$main-iconLabel-margin-md:13px;
$main-iconButton-size-md:20px;
$main-border-radius-md:4px;
$main-formInput-height-md:32px;
$main-formInputTitle-height-md:48px;
$main-form-margin-md:20px;
$main-designformInput-height-md:48px;
$main-empty-img-width-md:268px;
$main-empty-img-height-md:169px;
$main-empty-img-margin-md:20px;
$main-empty-label-size-md:24px;
$main-card-paddimgLeft-md:19px;
$main-card-paddimgTop-md:0;
$main-card-marginBottom-md:30px;
$main-card-title-height-md:48px;
$main-searchForm-height-md:54px;
$main-buttonBox-height-md:70px;
$main-option-height-md:32px;
// $environment-search-height
$main-tarilListItem-padding-md:13px;
$maintarilListItemCricle-md:8px;
$main-tarilListItem-marginBottom-md:10px;
$main-content-minWidth-md:1000px;
$main-switch-width-md:48px;
$main-formIcon-size-md:16px;