$main-cascaderOption-height-sm:200px;
$main-navigationBar-height-sm:50px;
$main-naviBar-height-sm:50px;
$main-size-sm:12px;
$main-plain-size-sm:12px;
$main-title-size-sm:14px;
$main-option-lineHeight-sm:30px;
$main-dropdown-margin-sm:4px;
$main-container-padding-sm:15px;
$main-content-padding-sm:20px;
$main-content-paddingLeft-sm:20px;
$main-content-paddingTop-sm:15px;
$main-primaryCirleButton-padding-sm:8px;
$main-primaryButton-paddingLeft-sm:15px;
$main-primaryButton-paddingTop-sm:5px;
$main-plainButton-paddingLeft-sm:10px;
$main-plainButton-paddingTop-sm:4px;
$main-imgButton-size-sm:14px;
$main-buttonBox-button-width-sm:60px;
$main-buttonBox-button-height-sm:32px;
$main-buttonBox-button-size-sm:12px;
$main-space-marign-sm:16px;
$main-buttonSpace-marign-sm:8px;
$main-searchInput-height-sm:28px;
$main-searchInput-width-sm:210px;
$main-searchInputIcon-size-sm:14px;
$main-searchInputIcon-right-sm:10px;
$main-pagination-height-sm:50px;
$main-iconLabel-size-sm:14px;
$main-iconLabel-margin-sm:8px;
$main-iconButton-size-sm:14px;
$main-border-radius-sm:3px;
$main-formInput-height-sm:30px;
$main-form-margin-sm:16px;
$main-formInputTitle-height-sm:40px;
$main-designformInput-height-sm:40px;
$main-empty-img-width-sm:248px;
$main-empty-img-height-sm:150px;
$main-empty-img-margin-sm:16px;
$main-empty-label-size-sm:24px;
$main-card-paddimgLeft-sm:15px;
$main-card-paddimgTop-sm:0;
$main-card-marginBottom-sm:30px;
$main-card-title-height-sm:40px;
$main-searchForm-height-sm:40px;
$main-buttonBox-height-sm:50px;
$main-option-height-sm:32px;
// $environment-search-height
$main-tarilListItem-padding-sm:10px;
$maintarilListItemCricle-sm:7px;
$main-tarilListItem-marginBottom-sm:10px;
$main-content-minWidth-sm:1000px;
$main-switch-width-sm:36px;
$main-formIcon-size-sm:14px;
