
$main-active-color-bluetheme:#49A4FF;
$main-title-color-bluetheme:#333333;
$main-color-bluetheme:#666666;
$main-plain-title-color-bluetheme:#a5abaf;
$main-plain-color-bluetheme:#ffffff;
$main-plain-borderColor-bluetheme:#EAECED;
$main-title-bgColor-bluetheme:#f5f7fa;
$main-option-color-bluetheme:#333333;
$main-option-activeColor-bluetheme:#49A4FF;
$main-option-activeBgColor-bluetheme:transparent;
$main-container-bgColor-bluetheme:#EBEBEB;
$main-content-bgColor-bluetheme:#ffffff;
$main-cancelButton-bgColor-bluetheme:#ffffff;
$main-primaryButton-color-bluetheme:#ffffff;
$main-primaryButton-bgColor-bluetheme:#49A4FF;
$main-errorButton-bgColor-bluetheme:rgba(241,86,67,0.20);
$main-plainButton-color-bluetheme:#666666;
$main-plainButton-bgColor-bluetheme:transparent;
$main-plainIcon-color-bluetheme:#666666;
$main-primaryIcon-color-bluetheme:#49A4FF;
$main-warningIcon-color-bluetheme:#f8bf32;
$main-errorIcon-color-bluetheme:#f15643;
$main-succsessIcon-color-bluetheme:#4ccca1;
$main-searchInputIcon-color-bluetheme:#0076F6;
$main-iconLabel-color-bluetheme:#49A4FF;
$main-iconButton-bgColor-bluethem:#ECF6FF;
$main-proud-color-bluetheme:#49a4ff;
$main-test-color-bluetheme:#f8bf32;
$main-border-color-bluetheme:#eaeced;
$main-disable-color-bluetheme:#c4c4c4;
$main-placeholder-color-bluetheme:#c4c4c4;
$main-error-color-bluetheme:#FF3333;
$main-formInput-icon-color-bluetheme:#49A4FF;
$main-form-bgColor-bluetheme:#ffffff;
$main-empty-label-color-bluetheme:#ccd0d9;
$formIcon-color-bluetheme:#EBBB3D ;
$main-tarilListItem-bod-borderColor-bluetheme:#e4e7ed;
