
$designFormLabel-bgColor-bluetheme:#FAFCFF;
.designFormLabel {
  &.designFormEntryLabel{
    background: $designFormLabel-bgColor-bluetheme;

    .designFormLabel-note{
  
      span{
        color:$main-color-bluetheme
      }
    }
  }

}